$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.display {
  background-color: rgb(255, 252, 163);
  border-color: #000;
  border: 2px;
  // float: left;
  margin: 20px;
  width: 300px;
  // height: 500px;
}

.signed-in-view {
  display: none;
}

.handlebars-form-hider {
  display: none;
}

.form-wrapper {
  padding: 5px;
}

hr {
  margin: 2px 0;
}
