$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.display {
  background-color: #F1E3F3;
  border-color: #000;
  border: 2px;
  // float: left;
  margin: 0px 12px 24px 12px;
  width: 290px;
  // height: 500px;
}

.signed-in-view {
  display: none;
}

.handlebars-form-hider {
  display: none;
}

.form-wrapper {
  padding: 5px;
}

hr {
  margin: 2px 0;
}

body {
  background-color: #62BFED;
}

.left-box {
  background-color: #3590F3;
  height: 360px;
}

.top-spacer {
  height: 19px;
}
